<html>
   <style>
         input{
             margin-left: 100px;
             padding:2px;
         }
         td{
            margin-left: 0;
            font-family:"Times New Roman";
            font-size: 13px;
         }
         input:hover{
             background-color: antiquewhite;
         }
         table{
            width: 150px;
         }

   </style>
   <body>
      <form action = "http://localhost:5000/gravar" method = "POST">
         <table>
         <tr>
         <td>Nome:</td><td><input type = "text" name = "nome" ></td>
         </tr><tr>
         <td>Endereco:</td><td><input type = "text" name = "endereco" ><td>
         </tr><tr>
         <td>Cidade:</td><td><input type = "text" name = "cidade" ></td>
         </tr><tr>
         <td>UF</td><td><input type ="text" name = "uf" ></td>
         </tr><tr>
         <td>CEP</td><td><input type ="text" name = "cep"></td>
         </tr><tr>
         <td>Nascimento:</td><td><input type ="text" name = "data" ></td>
         </table>
         <p><input type = "submit" value = "Gravar" name='botao'></p>
      </form>
   </body>
</html>