<html>
   <style>
         input{
             margin-left: 100px;
             padding:2px;
         }
         td{
            margin-left: 0;
            font-family:"Times New Roman";
            font-size: 13px;
         }
         input:hover{
             background-color: antiquewhite;
         }
         table{
            width: 150px;
         }

   </style>
   <body>
      <h2>Evento</h2>
      <form action = "http://localhost:5000/evento/gravar" method = "POST">
         <table>
         <tr>
         <td>Nome:</td><td><input type = "text" name = "nome" ></td>
         </tr><tr>
         <td>Descricao:</td><td><input type = "text" name = "descricao" ><td>
         </tr><tr>
         <td>Data:</td><td><input type = "text" name = "data" ></td>
         </tr><tr>
         <td>horario:</td><td><input type = "text" name = "horario" ></td>
         </tr><tr>
         <td>Semana ID:</td><td><input type = "text" name = "idsemana" ></td>
         </tr><tr>  
         <td>Local:</td><td><input type = "text" name = "local" ></td>
         </tr><tr>    
         </table>
         <p><input type = "submit" value = "Gravar" name='botao'></p>
      </form>

      <div class="container mt-3">
         <div class="input-group-prepend">
            <label for="exampleInputEmail1">Email address</label>
         </div>
         <textarea class="form-control" aria-label="With textarea"></textarea>
       </div>
   </body>
</html>