<html>
   <style>
         input{
             margin-left: 100px;
             padding:2px;
         }
         td{
            margin-left: 0;
            font-family:"Times New Roman";
            font-size: 13px;
         }
         input:hover{
             background-color: antiquewhite;
         }
         table{
            width: 150px;
         }

   </style>
   <body>
      <form action = "http://localhost:5000/palestrante/gravar" method = "POST">
         <table>
         <tr>
         <td>Nome:</td><td><input type = "text" name = "nome" ></td>
         </tr><tr>
         <td>email:</td><td><input type = "text" name = "email" ><td>
         </tr><tr>
         <td>cpf:</td><td><input type = "text" name = "cpf" ><td>
         </tr><tr>
         </table>
         <p><input type = "submit" value = "Gravar" name='botao'></p>
      </form>
   </body>
</html>